.container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  justify-content: center;
}

mat-card {
  max-width: 200px;
  margin: 10px;
}

img {
  width: 200px;
  height: 200px;
}

.error-message {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  color: gray;
  transform: translateY(100%);
  height: 40%;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
