<div class="container" *ngIf="(products.length > 0) && !isLoading">
    <mat-card *ngFor="let product of products; let i = index;">
        <mat-card-title>
            {{product.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{product.category}}
        </mat-card-subtitle>
        <mat-card-content>
            <img [src]="product.thumbnailUrl" [alt]="product.thumbnailId">
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" *ngIf="!isStoreKeeper" (click)="openOrderDialog(product)">Order</button>
            <button mat-raised-button color="warn" *ngIf="canDelete" (click)="deleteProduct(product.id, i)">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="products.length === 0 && isLoading">
    <mat-spinner  style="margin: 5vw auto;" [diameter]=50></mat-spinner>
</div>
<p *ngIf="products.length === 0 && !isLoading && !errorMessage" class="error-message">No Products</p>
<p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>

<div class="btn-group">
    <button 
        mat-fab 
        *ngIf="!errorMessage && canAdd" 
        [matMenuTriggerFor]="menu"
    ><mat-icon>more_vert</mat-icon></button>
    
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/store/add-product">Add Product</button>
        <button mat-menu-item routerLink="/store/orders">Orders</button>
    </mat-menu>
</div>