<div class="container">
    <form #f="ngForm" class="search" (ngSubmit)="searchProduct(f)">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input type="search" matInput ngModel placeholder="Search By Name" name="search">
            <button mat-icon-button matSuffix  [attr.aria-label]="'Search'" type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div class="products-container" *ngIf="(products.length > 0) && !isLoading">
        <mat-card *ngFor="let product of products; let i = index;">
            <mat-card-title>
                {{product.name}}
            </mat-card-title>
            <mat-card-subtitle>
                {{product.category}}
            </mat-card-subtitle>
            <mat-card-content>
                <img [src]="product.thumbnailUrl" [alt]="product.thumbnailId">
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" *ngIf="!isStoreKeeper" (click)="openOrderDialog(product)">Order</button>
                <button mat-raised-button color="warn" *ngIf="canDelete" (click)="openDeleteDialog(product)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-paginator
            *ngIf="(products.length > 0) && !isLoading"
            [pageSizeOptions]="[10, 15, 20]" 
            (page)="onPageChange($event)"
            [pageSize]="pageSize"
            [pageIndex]="pageNumber - 1"
            [length]="totalProducts"
    ></mat-paginator>
</div>
<div *ngIf="products.length === 0 && isLoading">
    <mat-spinner  style="margin: 5vw auto;" [diameter]=50></mat-spinner>
</div>
<p *ngIf="products.length === 0 && !isLoading && !errorMessage" class="error-message">No Products</p>
<p *ngIf="errorMessage" class="error-message">{{errorMessage}}</p>

<div class="btn-group">
    <button 
        mat-fab 
        *ngIf="!errorMessage && canAdd" 
        [matMenuTriggerFor]="menu"
    ><mat-icon>more_vert</mat-icon></button>
    
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/store/add-product">Add Product</button>
        <button mat-menu-item routerLink="/store/orders">Orders</button>
    </mat-menu>
</div>