<div class="container">
    <mat-card>
        <mat-card-title>
            {{products[0].name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{products[0].category}}
        </mat-card-subtitle>
        <mat-card-content>
            <img [src]="products[0].thumbnail" alt="">
            <p>Items available: 20pcs</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Order</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card>
        <mat-card-title>
            {{products[0].name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{products[0].category}}
        </mat-card-subtitle>
        <mat-card-content>
            <img [src]="products[0].thumbnail" alt="">
            <p>Out of stock</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Order</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            {{products[0].name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{products[0].category}}
        </mat-card-subtitle>
        <mat-card-content>
            <img [src]="products[0].thumbnail" alt="">
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Order</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            {{products[0].name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{products[0].category}}
        </mat-card-subtitle>
        <mat-card-content>
            <img [src]="products[0].thumbnail" alt="">
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Order</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            {{products[0].name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{products[0].category}}
        </mat-card-subtitle>
        <mat-card-content>
            <img [src]="products[0].thumbnail" alt="">
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Order</button>
        </mat-card-actions>
    </mat-card>

</div>