<mat-tab-group>
    <mat-tab label="Home">One</mat-tab>
    <mat-tab label="Menu">One</mat-tab>
    <mat-tab label="User manager">One</mat-tab>
    <mat-tab label="Teachers">One</mat-tab>
    <mat-tab label="Non teaching staff">One</mat-tab>
    <mat-tab label="House">One</mat-tab>
    <mat-tab label="School">One</mat-tab>
    <mat-tab label="Student manager">One</mat-tab>
    <mat-tab label="Exam">One</mat-tab>
    <mat-tab label="Result">One</mat-tab>
    <mat-tab label="Sms">One</mat-tab>
    <mat-tab label="Accounting">One</mat-tab>
    <mat-tab label="Reports">One</mat-tab>
    <mat-tab label="Principal appoint">One</mat-tab>
</mat-tab-group>